<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909135229275-8k7o63f2omj2snvgku14u5jkvhg2uh4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909135229275-8k7o63f2omj2snvgku14u5jkvhg2uh4c</string>
	<key>API_KEY</key>
	<string>AIzaSyAc2iPrJgvW3imkNJYYeJrMNN7IIRZELso</string>
	<key>GCM_SENDER_ID</key>
	<string>909135229275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galagoods.user</string>
	<key>PROJECT_ID</key>
	<string>galagoods</string>
	<key>STORAGE_BUCKET</key>
	<string>galagoods.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909135229275:ios:e973e50b0d0aacf2f66a7e</string>
</dict>
</plist>